In [3]:
print("Hello World")

Hello World

In [2]:
1

1

In [4]:
print("olá mundo")
print("lalala")

olá mundo
lalala

In [5]:
print(10)
2.5

10

2.5

In [6]:
2.4//2

1.0

In [7]:
1-4

-3

In [9]:
#potencia
4**2

16

In [11]:
#resto de divisao
4%3

1

In [15]:
# mensagens de erro sao amigas
print(2+2)
1/0
print("aaaa")

4

ZeroDivisionError: division by zero

In [16]:
print("lalalala")

lalalala

In [17]:
saudacao = 10 * 10
saudacao

100

In [18]:
saudacao = 1

In [19]:
saudacao

1

In [20]:
print(saudacao)

1

In [24]:
x = 1208 #wrong
ano_de_nascimento = 1298 #correct
funcionaNomeCamelCase = "mas nao é o sugerido"

In [29]:
tipo_nome = type(saudacao)
print(tipo_nome)
print(type(funcionaNomeCamelCase))
print((type(6.3/9)))

<class 'int'>
<class 'str'>
<class 'float'>

In [30]:
soma_de_string = str(1) + str(2)
print(soma_de_string)

12

In [31]:
print(soma_de_string)
print(float("1.2") + float("2.1"))
print(int("1") + int("2"))

12
3.3
3

In [32]:
soma_texto = "1" + "2"
print(soma_texto)
type(soma_texto)

12

str

In [35]:
texto = "escrito por ele"
# pode ser usado para documentar e tambem para executar queries
texto_grande = """ assim posso escrever
fsfsfds

fsdfsfds

fsdfsdf
lalala """
print(texto)
print(texto_grande)

escrito por ele
 assim posso escrever
fsfsfds

fsdfsfds

fsdfsdf
lalala

In [38]:
mensagem_resultado = "meu nome é: {} e o resultado da soma é {}"
print(mensagem_resultado.format("patricia", 10))

meu nome é: patricia e o resultado da soma é 10

In [39]:
frase_saudacao = "ola! eu sou a {}, tenho {} anos e cursei {} na faculdade"
print(frase_saudacao.format("patricia", 34, "ciencias da computação"))

ola! eu sou a patricia, tenho 34 anos e cursei ciencias da computação na faculdade

In [40]:
mensagem_resultado.strip?

In [41]:
help(mensagem_resultado)

No Python documentation found for 'meu nome é: {} e o resultado da soma é {}'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [42]:
idade = 30
idade + 10
print(idade)

30

In [43]:
idade = idade + 1
print(idade)

31

In [46]:
idade +=1
idade

34

In [48]:
nome = "mickey"
print("olá " + nome)

olá mickey

In [49]:
separador = " | "
print(nome + separador * 3)

mickey |  |  |

In [50]:
nome, idade = "joao", 29 # a ordem importa
print(nome, idade)

joao 29

In [51]:
primeiro, segundo = "primeiro", "segundo"
print(primeiro, segundo)

primeiro segundo

In [60]:
variaveis = 1,2 #tupla
variaveis
type(variaveis)

tuple

In [56]:
variavel1, x, y = 1, 3
variavel

ValueError: not enough values to unpack (expected 3, got 2)

In [59]:
lista_de_valores = [10, "a"]
lista_de_valores
type(lista_de_valores)

list

In [62]:
ingredientes_do_big_mac = ["hamburger", "alface", "queijo", "molho especial", "cebola", "picles", "pao com gergelim"]
ingredientes_do_cbo = ["frango frito", "molho", "pao com gergelim"]
type(ingredientes_do_big_mac)

list

In [63]:
lista_itens_sala = ["cadeira",
                   "notebooks",
                   "mouse",
                   "mesa",
                   "caderno",
                   "mochila",
                   "lousa",
                   "lousa",
                   "caneta",
                   "celular",
                   "retroprojetor",
                   "apagador"]
lista_itens_sala[3]

'mesa'

In [68]:
lista_itens_sala[0]

'cadeira'

In [69]:
lista_itens_sala[-1]

'apagador'

In [72]:
lista_itens_sala[1:5]

['notebooks', 'mouse', 'mesa', 'caderno']

In [73]:
item = lista_itens_sala[1]
item[:3]

'not'

In [74]:
lista_itens_sala[2:]

['mouse',
 'mesa',
 'caderno',
 'mochila',
 'lousa',
 'lousa',
 'caneta',
 'celular',
 'retroprojetor',
 'apagador']

In [75]:
lista_itens_sala[:-2]

['cadeira',
 'notebooks',
 'mouse',
 'mesa',
 'caderno',
 'mochila',
 'lousa',
 'lousa',
 'caneta',
 'celular']

In [76]:
lista_itens_sala.index("lousa")

6

In [78]:
lista_itens_sala.sort()
lista_itens_sala

['apagador',
 'cadeira',
 'caderno',
 'caneta',
 'celular',
 'lousa',
 'lousa',
 'mesa',
 'mochila',
 'mouse',
 'notebooks',
 'retroprojetor']

In [80]:
lista_itens_sala[0].replace("ag", "agg")

'apaggador'

In [83]:
lista_itens_sala.append("quadro")
lista_itens_sala

['apagador',
 'cadeira',
 'caderno',
 'caneta',
 'celular',
 'lousa',
 'lousa',
 'mesa',
 'mochila',
 'mouse',
 'notebooks',
 'retroprojetor',
 'quadro',
 'quadro']

In [87]:
id("quadro")

139641468854032

In [ ]:
# comando com o pop

In [90]:
lista_itens_sala.insert(0, "cortina")
lista_itens_sala.pop()
lista_itens_sala

['cortina',
 'cortina',
 'cortina',
 'apagador',
 'cadeira',
 'caderno',
 'caneta',
 'celular',
 'lousa',
 'lousa',
 'mesa',
 'mochila',
 'mouse',
 'notebooks',
 'retroprojetor',
 'quadro']

 lista

In [92]:
lista_itens_sala.reverse()
lista_itens_sala

['cortina',
 'cortina',
 'cortina',
 'apagador',
 'cadeira',
 'caderno',
 'caneta',
 'celular',
 'lousa',
 'lousa',
 'mesa',
 'mochila',
 'mouse',
 'notebooks',
 'retroprojetor',
 'quadro']

In [93]:
lista_itens_sala.pop()

'quadro'

In [94]:
lista_itens_sala

['cortina',
 'cortina',
 'cortina',
 'apagador',
 'cadeira',
 'caderno',
 'caneta',
 'celular',
 'lousa',
 'lousa',
 'mesa',
 'mochila',
 'mouse',
 'notebooks',
 'retroprojetor']

In [95]:
alturas = [1.55,1.35,1.75,1.73,1.75]

In [96]:
alturas.sort()

In [97]:
alturas

[1.35, 1.55, 1.73, 1.75, 1.75]

In [100]:
menor_altura = alturas[0]
menor_altura

1.35

In [101]:
"a menor altura é {}".format(menor_altura)

'a menor altura é 1.35'

In [102]:
alturas[0] + alturas[1]+alturas[2]+alturas[3]+alturas[4]

8.13

In [104]:
sum(alturas)

8.13

In [105]:
min(alturas)

1.35

In [106]:
max(alturas)

1.75

In [107]:
lista_com_letras = ["a", "b", "c"]
max(lista_com_letras)

'c'

In [110]:
alturas = [1.35,1.70,1.73,1.75,1.80]
total = 0
print("entrando no for")
for altura in alturas[1:3]:
    print(altura, total)
    total+=altura
print("saindo do for")
total

entrando no for
1.7 0
1.73 1.7
saindo do for

3.4299999999999997

In [111]:
alturas_em_metros = [1.80,1.64,1.74]
for altura in alturas_em_metros:
    print("alturas em centimetros: ", altura * 100)
#nao alteramos as alturas na lista, apenas houve a multiplicacao dentro do print
alturas_em_metros

alturas em centimetros:  180.0
alturas em centimetros:  164.0
alturas em centimetros:  174.0

[1.8, 1.64, 1.74]

In [112]:
nome_altura ={
    "Tyrion Lannister": 1.35,
    "Jon Snow": 1.73,
    "The Mountain": 2.06,
    "Wun":2.16,
    "Tarsis GreyJoy": 1.00
}

In [113]:
nome_altura["Wun"]

2.16

In [114]:
nome_altura

{'Tyrion Lannister': 1.35,
 'Jon Snow': 1.73,
 'The Mountain': 2.06,
 'Wun': 2.16,
 'Tarsis GreyJoy': 1.0}

In [115]:
dicionario = {
    "nome": "Patricia Akemi Oshiro",
    "email": "paoshiro@gmail.com",
    "idade": 34,
    "altura": 1.58
}

In [116]:
dicionario["altura"]

1.58

In [117]:
dicionario["nome"]

'Patricia Akemi Oshiro'

In [118]:
dicionario["nome"] = "Patricia Oshiro"

In [119]:
dicionario

{'nome': 'Patricia Oshiro',
 'email': 'paoshiro@gmail.com',
 'idade': 34,
 'altura': 1.58}

In [120]:
dicionario["idade"] = 20

In [121]:
dicionario

{'nome': 'Patricia Oshiro',
 'email': 'paoshiro@gmail.com',
 'idade': 20,
 'altura': 1.58}

In [122]:
"Meu nome é {} e meu email é o {}".format(
    dicionario["nome"],
    dicionario["email"]
)

'Meu nome é Patricia Oshiro e meu email é o paoshiro@gmail.com'

In [123]:
dicionario["endereco"] =  "Rua Doutor Zuquim"

In [124]:
dicionario["CEP"] = "03961020"

In [125]:
dicionario

{'nome': 'Patricia Oshiro',
 'email': 'paoshiro@gmail.com',
 'idade': 20,
 'altura': 1.58,
 'endereco': 'Rua Doutor Zuquim',
 'CEP': '03961020'}

In [126]:
del dicionario["idade"]

In [127]:
dicionario

{'nome': 'Patricia Oshiro',
 'email': 'paoshiro@gmail.com',
 'altura': 1.58,
 'endereco': 'Rua Doutor Zuquim',
 'CEP': '03961020'}

In [128]:
aluno1 = {'nome': 'Homer', 'idade': 39}
aluno2 = {'nome': 'Marge', 'idade': 38}

In [129]:
lista_alunos = [aluno1, aluno2]

In [130]:
lista_alunos[0]["nome"]

'Homer'

In [131]:
lista_alunos[1]['idade']

38

In [157]:
familia = [{
    'nome':'Adriana',
    'grau': 'irma',
    'idade':36
}, {
    'nome': 'Wilson',
    'grau': 'irmao',
    'idade':32
}, 
{
    'nome': 'Ritsuko',
    'grau':'mae',
    'idade':64
}]

In [133]:
familia

[{'nome': 'Adriana', 'grau': 'irma', 'idade': 36},
 {'nome': 'Wilson', 'grau': 'irmao', 29: 32},
 {'nome': 'Ritsuko', 'grau': 'mae', 'idade': 64}]

In [135]:
familia[0]['nome']

'Adriana'

In [138]:
familia[1]['grau']

'irmao'

In [140]:
simpson = []
pai = {'nome': 'Hommer', 'idade': 67}
simpson.append(pai)

In [141]:
simpson

[{'nome': 'Hommer', 'idade': 67}]

In [143]:
meus_dados = {'nome':'zequinha', 'idade':30, 'altura':1.85}
for chave in meus_dados:
    print(chave + ':' + str(meus_dados[chave]))

nome:zequinha
idade:30
altura:1.85

In [144]:
print(meus_dados.items())
for chave, valor in meus_dados.items():
    print(chave, valor)
meus_dados.items()

dict_items([('nome', 'zequinha'), ('idade', 30), ('altura', 1.85)])
nome zequinha
idade 30
altura 1.85

dict_items([('nome', 'zequinha'), ('idade', 30), ('altura', 1.85)])

In [147]:
familia

[{'nome': 'Adriana', 'grau': 'irma', 'idade': 36},
 {'nome': 'Wilson', 'grau': 'irmao', 29: 32},
 {'nome': 'Ritsuko', 'grau': 'mae', 'idade': 64}]

In [158]:
for parente in familia:
    print(parente["nome"], parente['idade'])

Adriana 36
Wilson 32
Ritsuko 64

In [159]:
for membro in familia:
    for chave,valor in membro.items():
        print(chave,valor)
    print("-" * 50)

nome Adriana
grau irma
idade 36
--------------------------------------------------
nome Wilson
grau irmao
idade 32
--------------------------------------------------
nome Ritsuko
grau mae
idade 64
--------------------------------------------------

In [160]:
True + True

2

In [161]:
1 == 1

True

In [162]:
1 != 1

False

In [163]:
not 1!=1

True

In [164]:
if 5==2 or 1==1:
    print("1 é igual a 1")

1 é igual a 1

In [166]:
if 2==1:
    print("2 é igual a 1")
elif 1!=1:
    print("1 é igual a 1")
elif 3==1:
    print("3 é igual a 1")
elif 4==1:
    print("4 é igual a 1")
else:
    print("2 não é igual a 1")

2 não é igual a 1

In [169]:
if 1==2:
    print('to maluco')
else:
    print('sou normal')

sou normal

In [170]:
lista_alturas = [1.80,1.70,1.62,1.95,1.55]

In [171]:
for altura in lista_alturas:
    if(altura >= 1.70):
        print(altura)

1.8
1.7
1.95

In [175]:
lista_baixas =[]
lista_altas=[]
for altura in lista_alturas:
    if(altura >= 1.70):
        lista_altas.append(altura)
    else:
        lista_baixas.append(altura)

In [176]:
lista_altas

[1.8, 1.7, 1.95]

In [177]:
lista_baixas

[1.62, 1.55]

In [178]:
outras_alturas = [1.72,1.90,1.78,1.55,1.69,1.60]

In [179]:
outras_alturas.sort()

In [180]:
outras_alturas

[1.55, 1.6, 1.69, 1.72, 1.78, 1.9]

In [181]:
def soma_tudo(lista):
    total = 0
    for item in lista:
        total = total + item
    return total

In [182]:
soma_tudo(alturas)

8.33

In [184]:
soma_tudo([1,2,3,4,5,6])

21

In [185]:
def separa_pessoas_altas_e_baixas(pessoas):
    pessoas_altas = []
    pessoas_baixas = []
    
    for altura in pessoas:
        if(altura > 1.70):
            pessoas_altas.append(altura)
        else:
            pessoas_baixas.append(altura)
    return pessoas_altas, pessoas_baixas

altinhos,baixinhos = separa_pessoas_altas_e_baixas(outras_alturas)
print(altinhos)
print(baixinhos)

[1.72, 1.78, 1.9]
[1.55, 1.6, 1.69]

In [186]:
import meu_modulo

In [187]:
meu_modulo.separa_pessoas_altas_e_baixas(alturas)

([1.73, 1.75, 1.8], [1.35, 1.7])